:root,
.light,
.light-theme {
  --orange-1: #fefdfb;
  --orange-2: #fff8ec;
  --orange-3: #fff1dc;
  --orange-4: #ffe5c3;
  --orange-5: #ffd9a6;
  --orange-6: #ffc97f;
  --orange-7: #f7b768;
  --orange-8: #e79e3b;
  --orange-9: #ffa500;
  --orange-10: #e8a03c;
  --orange-11: #a36a00;
  --orange-12: #4d3619;

  --orange-a1: #c0800004;
  --orange-a2: #ffa20013;
  --orange-a3: #ff990023;
  --orange-a4: #ff91003c;
  --orange-a5: #ff930059;
  --orange-a6: #ff940080;
  --orange-a7: #f2860097;
  --orange-a8: #e08100c4;
  --orange-a9: #ffa500;
  --orange-a10: #e18300c3;
  --orange-a11: #a36a00;
  --orange-a12: #3a2000e6;

  --orange-contrast: #2e1e0a;
  --orange-surface: #fff6e7cc;
  --orange-indicator: #ffa500;
  --orange-track: #ffa500;

  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

.dark,
.dark-theme {
  --orange-1: #14100c;
  --orange-2: #1d170f;
  --orange-3: #30200b;
  --orange-4: #422500;
  --orange-5: #4f2e00;
  --orange-6: #5e3c0b;
  --orange-7: #734d1b;
  --orange-8: #926323;
  --orange-9: #ffa500;
  --orange-10: #f39a00;
  --orange-11: #ffb348;
  --orange-12: #ffe2c0;

  --orange-a1: #d1000004;
  --orange-a2: #fd87000d;
  --orange-a3: #fa820022;
  --orange-a4: #fd720035;
  --orange-a5: #fd7f0043;
  --orange-a6: #fe960053;
  --orange-a7: #ffa32a69;
  --orange-a8: #fea7328b;
  --orange-a9: #ffa500;
  --orange-a10: #fea100f3;
  --orange-a11: #ffb348;
  --orange-a12: #ffe2c0;

  --orange-contrast: #2e1e0a;
  --orange-surface: #291d0e80;
  --orange-indicator: #ffa500;
  --orange-track: #ffa500;

  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --orange-1: oklch(99.4% 0.003 70.67);
      --orange-2: oklch(98.5% 0.023 70.67);
      --orange-3: oklch(96.7% 0.063 70.67);
      --orange-4: oklch(94% 0.101 70.67);
      --orange-5: oklch(91.3% 0.129 70.67);
      --orange-6: oklch(87.6% 0.122 70.67);
      --orange-7: oklch(82.3% 0.121 70.67);
      --orange-8: oklch(75.6% 0.141 70.67);
      --orange-9: oklch(79.3% 0.171 70.67);
      --orange-10: oklch(75.9% 0.141 70.67);
      --orange-11: oklch(57.4% 0.154 70.67);
      --orange-12: oklch(35.2% 0.054 70.67);

      --orange-a1: color(display-p3 0.757 0.514 0.024 / 0.016);
      --orange-a2: color(display-p3 0.945 0.616 0.008 / 0.071);
      --orange-a3: color(display-p3 0.941 0.58 0.008 / 0.13);
      --orange-a4: color(display-p3 0.929 0.557 0.004 / 0.22);
      --orange-a5: color(display-p3 0.929 0.557 0.004 / 0.326);
      --orange-a6: color(display-p3 0.933 0.557 0.004 / 0.459);
      --orange-a7: color(display-p3 0.871 0.506 0 / 0.546);
      --orange-a8: color(display-p3 0.8 0.467 0 / 0.691);
      --orange-a9: color(display-p3 0.933 0.561 0 / 0.769);
      --orange-a10: color(display-p3 0.804 0.475 0 / 0.687);
      --orange-a11: color(display-p3 0.545 0.337 0 / 0.863);
      --orange-a12: color(display-p3 0.196 0.11 0 / 0.883);

      --orange-contrast: #2e1e0a;
      --orange-surface: color(display-p3 1 0.969 0.902 / 0.8);
      --orange-indicator: oklch(79.3% 0.171 70.67);
      --orange-track: oklch(79.3% 0.171 70.67);

      --gray-1: oklch(99.1% 0.001 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.005 277.7);
      --gray-4: oklch(93.1% 0.006 277.7);
      --gray-5: oklch(91% 0.008 277.7);
      --gray-6: oklch(88.8% 0.009 277.7);
      --gray-7: oklch(85.3% 0.012 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.016 277.7);
      --gray-10: oklch(61% 0.016 277.7);
      --gray-11: oklch(50.3% 0.014 277.7);
      --gray-12: oklch(24.1% 0.01 277.7);

      --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
      --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
      --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
      --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
      --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
      --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
      --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
      --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
      --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
      --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
      --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.016 277.7);
      --gray-track: oklch(64.6% 0.016 277.7);
    }
    .dark,
    .dark-theme {
      --orange-1: oklch(17.8% 0.011 70.67);
      --orange-2: oklch(20.9% 0.017 70.67);
      --orange-3: oklch(25.7% 0.041 70.67);
      --orange-4: oklch(29.4% 0.071 70.67);
      --orange-5: oklch(33.5% 0.078 70.67);
      --orange-6: oklch(38.6% 0.077 70.67);
      --orange-7: oklch(45.3% 0.082 70.67);
      --orange-8: oklch(53.9% 0.099 70.67);
      --orange-9: oklch(79.3% 0.171 70.67);
      --orange-10: oklch(75.9% 0.171 70.67);
      --orange-11: oklch(82.5% 0.15 70.67);
      --orange-12: oklch(92.9% 0.055 70.67);

      --orange-a1: color(display-p3 0.941 0 0 / 0.009);
      --orange-a2: color(display-p3 0.988 0.569 0 / 0.047);
      --orange-a3: color(display-p3 1 0.584 0.004 / 0.122);
      --orange-a4: color(display-p3 0.996 0.502 0 / 0.19);
      --orange-a5: color(display-p3 1 0.576 0 / 0.24);
      --orange-a6: color(display-p3 1 0.639 0.133 / 0.303);
      --orange-a7: color(display-p3 1 0.698 0.271 / 0.387);
      --orange-a8: color(display-p3 1 0.71 0.306 / 0.513);
      --orange-a9: color(display-p3 1 0.698 0.239 / 0.946);
      --orange-a10: color(display-p3 1 0.682 0.231 / 0.895);
      --orange-a11: color(display-p3 1 0.745 0.376 / 0.954);
      --orange-a12: color(display-p3 1 0.91 0.784 / 0.979);

      --orange-contrast: #2e1e0a;
      --orange-surface: color(display-p3 0.149 0.11 0.059 / 0.5);
      --orange-indicator: oklch(79.3% 0.171 70.67);
      --orange-track: oklch(79.3% 0.171 70.67);

      --gray-1: oklch(17.8% 0.004 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.005 277.7);
      --gray-4: oklch(28.4% 0.008 277.7);
      --gray-5: oklch(31.4% 0.009 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.012 277.7);
      --gray-8: oklch(49.2% 0.016 277.7);
      --gray-9: oklch(54% 0.017 277.7);
      --gray-10: oklch(58.6% 0.016 277.7);
      --gray-11: oklch(77% 0.014 277.7);
      --gray-12: oklch(94.9% 0.003 277.7);

      --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
      --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
      --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
      --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
      --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
      --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
      --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.017 277.7);
      --gray-track: oklch(54% 0.017 277.7);
    }
  }
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fff;
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}
